@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 900px;
    height: 700px;
    grid-gap: 8px;
    margin: 15px auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
.container div{
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background: var(--color-secundary);
}
.item__1{
    grid-area: nits;
}
.item__2{
    grid-area: gps;
}
.item__3{
    grid-area: logs;
}
.item__4{
    grid-area: neutral;
}
.item__5{
    grid-area: Montaña;
}
.item__6{
    grid-area: face;
}
.item__7{
    grid-area: colors;
}
.item__8{
    grid-area: relojGrande;
}
.item__9{
    grid-area: HRS;
}
.item__10{
    grid-area: meters;
}
.item__11{
    grid-area: button;
}
.item__12{
    grid-area: SIP;
}
.item__13{
    grid-area: SIRI;
}
.item__14{
    grid-area: feactures;
}
.item__15{
    grid-area: Iphone;
}
.item__16{
    grid-area: boost;
}
.item__17{
    grid-area: mano;
}